<p><%= @user.name %> 様</p>

<p>パスワード再設定のご依頼を受け付けました。</p>
<p>下記リンクよりパスワードの再設定を行ってください。</p>
<a href="<%= @url %>"><%= @url %></a>

<p>=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</p>
<p>発行元　お酒のふるさと</p>
<p>お問い合わせ　<%= mail_to "#{Rails.application.credentials[:mailer]}" %></p>
<p>ウェブサイト　<%= link_to "https://www.osake-no-furusato.jp","https://www.osake-no-furusato.jp"%></p>
<p>=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</p>
