<% content_for :title, "#{@user.name}さんのプロフィール" %>
<div class="bg-lime-100 min-h-screen">
<div class="flex md:flex-row md:max-w-full items-center justify-center pt-12 mx-10">
  <%= image_tag "#{@user.avatar}", size: "200x200", class: "rounded-md bg-white" %>
</div>
<div class="overflow-x-auto relative shadow-xl rounded-lg mx-10 mt-8 ms:mx-60 md:mx-60">
  <table class="w-full text-lg text-gray-600">
    <tbody>
      <tr class="bg-sky-200">
        <th scope="row" class="w-8 py-4 px-6 text-right whitespace-nowrap"><%= User.human_attribute_name :name %>:</th>
        <td class="w-100 text-left"><%= @user.name %></td>
      </tr>
      <tr class="bg-gray-200">
        <th scope="row" class="w-8 py-4 px-6 text-right whitespace-nowrap"><%= User.human_attribute_name :living_place %>:</th>
        <td class="w-100 text-left"><%= User.prefecture_enums.key(@user.living_place) %></td>
      </tr>
      <tr class="bg-sky-200">
        <th scope="row" class="w-8 py-4 px-6 text-right whitespace-nowrap">
          <%= User.human_attribute_name :favorite_liquor_type %>:
        </th>
        <td class="w-100 text-left"><%= @user.favorite_liquor_type_i18n %></td>
      </tr>
      <tr class="bg-gray-200">
        <th scope="row" class="w-8 py-4 px-6 text-right align-middle">
          <%= User.human_attribute_name :self_introduction %>:
        </th>
        <td class="w-100 text-left py-4 pr-8 whitespace-pre"><%= @user.self_introduction %></td>
      </tr>
    </tbody>
  </table>
</div>
<% if current_user == @user %>
  <div class="flex">
    <div class="relative inline-flex my-4 ml-16 md:mx-60 text-base font-bold text-blue-700">
      <%= link_to "プロフィールを編集", edit_user_path %>
    </div>
  </div>
<% end %>
</div>