<% content_for :title, "#{@user.name}さんのプロフィール" %>
<div class="bg-lime-100 min-h-screen">
  <div class="flex md:flex-row md:max-w-full items-center justify-center pt-12 mx-10">
    <%= image_tag "#{@user.avatar}", size: "200x200", class: "rounded-lg bg-white" %>
  </div>
  <% if current_user == @user %>
    <div class="text-center text-base font-bold py-4 text-blue-700">
      <%= link_to t('.edit'), edit_user_path %>
    </div>
  <% end %>
  <div class="overflow-x-auto grid grid-cols-8 md:grid-cols-10">
    <table class="col-start-2 col-span-6 md:col-start-4 md:col-span-4 w-full mt-3 mb-8 text-base md:text-lg text-gray-600">
      <tbody>
        <tr class="bg-violet-200">
          <th scope="row" class="w-8 py-4 px-3 text-right whitespace-nowrap"><%= User.human_attribute_name :name %>:</th>
          <td class="text-left whitespace-nowrap pr-5"><%= @user.name %></td>
        </tr>
        <tr class="bg-gray-200">
          <th scope="row" class="w-8 py-4 px-3 text-right whitespace-nowrap"><%= User.human_attribute_name :living_place %>:</th>
          <td class="text-left whitespace-nowrap pr-5"><%= User.prefecture_enums.key(@user.living_place) %></td>
        </tr>
        <tr class="bg-violet-200">
          <th scope="row" class="w-8 py-4 px-3 text-right whitespace-nowrap"><%= User.human_attribute_name :favorite_liquor_type %>:</th>
          <td class="text-left whitespace-nowrap pr-5"><%= @user.favorite_liquor_type_i18n %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-gray-600 grid grid-cols-8 md:grid-cols-10 pb-12"> 
    <div class="col-start-2 col-span-6 md:col-start-4 md:col-span-4 rounded-lg px-8 pt-3 pb-6 bg-cyan-200">
        <p class="py-3 font-bold">
          <%= User.human_attribute_name :self_introduction %>
        </p>
        <p class="text-left break-words whitespace-pre-line"><%= @user.self_introduction %></p>
    </div>
  </div>
</div>
