<% content_for :title, 'お酒から探す' %>

<div class="relative h-screen w-screen bg-gradient-to-r from-rose-400 bg-cover">
  <h1 class="flex justify-center pt-16 pl-10 text-gray-600 text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl font-semibold">🥃 興味のあるお酒を選んでください 🍶</h1>

  <div class="grid grid-cols-1 gap-8 mt-24 mb-12 mx-12 md:grid-cols-4">
    <button class="bg-yellow-300 hover:bg-yellow-200 text-base sm:text-base md:text-2xl lg:text-3xl xl:text-3xl font-bold py-4 px-6 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
      <%= link_to "ビール", breweries_path(q: { liquor_type_eq: 0 }),class: "text-white" %>
    </button>
    <button class="bg-pink-500 hover:bg-pink-400 text-base sm:text-base md:text-2xl lg:text-3xl xl:text-3xl font-bold py-4 px-6 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
      <%= link_to "ワイン", breweries_path(q: { liquor_type_eq: 1 }),class: "text-white"  %>
    </button>
    <button class="bg-teal-400 hover:bg-teal-300 text-base sm:text-base md:text-2xl lg:text-3xl xl:text-3xl font-bold py-4 px-6 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
      <%= link_to "日本酒", breweries_path(q: { liquor_type_eq: 2 }),class: "text-white" %>
    </button>
    <button class="bg-orange-500 hover:bg-orange-400 text-base sm:text-base md:text-2xl lg:text-3xl xl:text-3xl font-bold py-4 px-6 rounded-full hover:shadow-sm hover:translate-y-0.5 transform transition">
      <%= link_to "ウイスキー", breweries_path(q: { liquor_type_eq: 3 }),class: "text-white"  %>
    </button>
  </div>
  
  <div class="grid grid-cols-4 gap-10 justify-center mt-16 mb-12 ml-12 mr-12 invisible sm:invisible md:visible lg:visible xl:visible ">
    <div class="object-cover"><%= image_tag "beer.jpg",class: "rounded-lg drop-shadow-lg" %></div>
    <div class="object-cover"><%= image_tag "wine.jpg",class: "rounded-lg drop-shadow-lg" %></div>
    <div class="object-cover"><%= image_tag "sake.jpg",class: "rounded-lg drop-shadow-lg"  %></div>
    <div class="object-cover"><%= image_tag "whiskey.jpg",class: "rounded-lg drop-shadow-lg"  %></div>
  </div>
</div>