<% content_for :title, @brewery.name %>
<div class="bg-gradient-to-r from-orange-300">
  <div class="flex h-96 md:flex-row md:max-w-full mx-20 pt-12 mb-4">
    <%= image_tag "#{@brewery.image}", class: "object-contain shadow-lg w-full h-96 rounded-lg md:h-auto md:w-auto" %>
  </div>
  <div class="overflow-x-auto relative shadow-xl sm:rounded-lg mx-20 mt-1 mb-6">
    <table class="w-full text-lg text-left text-gray-600">
      <tbody>
        <tr class="bg-amber-100">
          <th scope="row" class="py-4 px-6 whitespace-nowrap"><%= Brewery.human_attribute_name :name %>:</th>
          <td><%= @brewery.name %></td>
        </tr>
        <tr class="bg-gray-50">
          <th scope="row" class="py-4 px-6 whitespace-nowrap"><%= Brewery.human_attribute_name :liquor_type %>:</th>
          <td><%= @brewery.liquor_type_i18n %></td>
        </tr>
        <tr class="bg-amber-100">
          <th scope="row" class="py-4 px-6 whitespace-nowrap">
            <%= Brewery.human_attribute_name :address %>:
          </th>
          <td><%= @brewery.address.tr('０-９ａ-ｚＡ-Ｚ','0-9a-zA-Z') %></td>
        </tr>
        
        <tr class="bg-gray-50">
          <th scope="row" class="py-4 px-6 whitespace-nowrap">
          <%= Brewery.human_attribute_name :phone_number %>:
          </th>
          <% if @brewery.phone_number %>
          <td><%= @brewery.phone_number.tr('０-９ａ-ｚＡ-Ｚ','0-9a-zA-Z') %></td>
          <% else %>
          <td>不明</td>
          <% end %>
        </tr>
        
        <tr class="bg-amber-100">
          <th scope="row" class="py-4 px-6 whitespace-nowrap">
          <%= Brewery.human_attribute_name :website_url %>:
          </th>
          <% if @brewery.website_url %>
          <td><%= link_to @brewery.website_url, "#{@brewery.website_url}" %></td>
          <% else %>
          <td>不明</td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="relative inline-flex items-center justify-center p-0.5 mb-6 mr-2 ml-20 overflow-hidden text-lg font-medium rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white focus:outline-none focus:ring-pink-200">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
      <%= link_to nearby_hotels_brewery_path, class: "text-red-400 hover:text-gray-100" do %>
        <i class="fa-solid fa-bed"></i> 付近の宿泊施設を探す
      <% end %>
    </span>
  </button>

  <% if logged_in? %>
    <div class="relative inline-flex">
      <%= render 'keep_button', { brewery: @brewery } %>
    </div>
    <div class="relative inline-flex ml-6">
      <%= render 'like_button', { brewery: @brewery } %>
    </div>
  <% end %>

  <!-- レビューエリア -->
  <h2 class="text-xl font-semibold text-center leading-8 text-white bg-blue-400 mx-20 mb-4">みんなのレビュー</h2>
  <% if @reviews.present? %>
    <%= render 'reviews/reviews', { reviews: @reviews } %>
    <div class="mb-4">
      <%= paginate @reviews %>
    </div>
  <% else %>
    <p class="text-gray-600 text-center text-lg my-6">⚠︎レビューがまだありません。</p>
  <% end %>
  <!-- レビューフォーム -->
  <% if logged_in? %>
    <%= render 'reviews/form', { brewery: @brewery, review: @review } %>
  <% else %>
    <p class="text-center text-gray-600 pt-4 pb-8 font-bold text-lg">ログインしてレビューを投稿しましょう📝</p>
  <% end %>
</div>