<!DOCTYPE html>
<html>
  <head>
<!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZJ8741QWQN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZJ8741QWQN');
    </script>

    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application','data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="../../assets/stylesheets/search_from_japanmap.scss" rel="stylesheet" type="text/scss">
    <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.min.css" />
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render partial: "shared/header" %>
    <% else %>
      <%= render partial: "shared/before_login_header" %>
    <% end %>
    <%= render "shared/flash_message" %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render partial: "shared/footer" %>
    <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  </body>
</html>
