<!DOCTYPE html>
<html>
  <head>
    <title>お酒のふるさと</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application','data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="../../assets/stylesheets/search_from_japanmap.scss" rel="stylesheet" type="text/scss">
  </head>

  <body>

      <%= render partial: "shared/header" %>
      <%= yield %>
      <%= render partial: "shared/footer" %>
  </body>
</html>
